/* pridefined colors */
:root{
    --orange-color:#DA722C;
    --blue-color: #057ADA;
    --dark-blue-color:#023047;
    --black-color:#070917;
    --light-blue-color:#6F7DFB;
    --white-color:#fff;

}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    max-width: 1134px;
    margin: 0 auto ;
    }

/* btn style */
.btn {
    display: inline-block;
padding: 16px 35px;
border-radius:24px;
text-decoration: none;
font-size: 16px;
font-weight: bold;
color: #fff;
position: relative;
}

.btn.dark {
   background-color: #023047;
}

.btn.light {
   background-color:#DA722C;
}

.btn.enrol-icon::before {
    content:url(images/PencilAlt.svg);
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    }
.btn.enrol-icon{
        padding-left: 60px;
    }

/* header part styling */
header {
    background:linear-gradient(180deg , #6F7DFB  0%, #26308c 100%) ;
    height: 100vh;
    width: 100%;
}

nav {
    display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   z-index: 100;
   width: 1134px;
   top: 0px;
   padding: 36px 0;
   transition: all 500ms ease;
   
}


nav .logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 40px;
    color:#fff
    }

nav ul{
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
  
}

nav ul li a{
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 16px;

    }
    
/* hero section style */
.hero-section{
    
    display : flex;
     align-items: center;
    justify-content: space-between;
     height: 100vh;
    width: 100%;
  
    color: #fff;
    position: relative;
    }
 
.hero-section .left h1{
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        font-size: 50px;
        line-height: 125%;
        margin-bottom: 0;
    }
.hero-section .left p{
        font-weight: normal;
        font-size: 16px;
        line-height: 200%;
        margin-bottom: 30px;
        width: 457px;
    }
.hero-section .left{
    flex: 1;
}
.hero-section .right{
    align-self: flex-end;
}
.hero-section .right img{
    height: 520px;
    vertical-align: middle;
}

/* achievement-card */
.achievement-card {
    position: absolute;
    color: var(--dark-blue-color);
    min-width: 200px;
   
    
}
.achievement-card .content{
    background: #fff;
    border-radius: 24px;
    padding: 8px 32px;
    z-index: 10;
    position: relative;
}
.achievement-card.students-enrolled{
    left: 45%;
    top:330px
}
.achievement-card.overall-rating{
    left:40%;
    top:550px
}
.achievement-card .content div{
    display:flex;
    align-items: center;
    gap: 12px;

}
.achievement-card h3{
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    text-align: center;
    width: 100%;
    flex: 1;
}
.achievement-card img {
    flex: 1;
    height: 42px;
    margin-left: -24px;
  }
.achievement-card p{
    font-weight: normal;
    font-size: 16px;
    margin-top: -8px;
    margin-bottom: 8px;
    text-align: center;
}

.achievement-card .bg{
    position:absolute;
    background: linear-gradient(180deg,#6F7DFB 0%,#3b448f 100%);
    width: 100%;
    height: 100%;
    border-radius: 24px;
    top: 8px;
    left: 8px;
    z-index: 1;
}

